@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,500;1,300;1,500&family=Dosis:wght@300;500&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply fixed left-0 top-0 h-screen w-screen overflow-y-auto overflow-x-hidden;
  }

  p {
    @apply my-2 font-serif;
  }
}

@layer components {
  .heading {
    @apply mb-2 text-lg font-bold;
  }

  .floater {
    @apply fixed left-0 top-0 z-30 h-screen w-screen overflow-auto bg-black/50 px-2 py-8 backdrop-blur-sm sm:flex sm:items-center sm:justify-center;
  }

  .floater > .floater-overlay {
    @apply relative max-w-4xl cursor-default rounded-lg border border-gray-400 bg-black/20 backdrop-blur-lg sm:max-h-full sm:overflow-y-auto;
  }

  .title {
    @apply mb-2 rounded-lg bg-black/50 px-1 text-center font-menu shadow-lg backdrop-blur;
  }

  .subtitle {
    @apply rounded-lg bg-black/50 px-1 text-center font-menu text-gray-200 shadow-lg backdrop-blur;
  }

  .button {
    @apply m-2 rounded-lg bg-slate-800/50 px-4 py-2;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .feathered {
    mask-image: radial-gradient(
      rgba(0, 0, 0, 1) 0% rgba(0, 0, 0, 1) 90% rgba(0, 0, 0, 0) 100%
    );
  }
}
